.task {
  background-color: rgba(255, 255, 255, 0.637);
  backdrop-filter: blur(10px);
  border: none;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
  }
}

.task:hover {
  background-color: rgba(255, 255, 255, 0.451);
}

.task span {
  color: black;
}

.icon {
  transition: transform 0.3s ease;

  @media (max-width: 480px) {
    margin-top: 10px;
    margin-right: 5px;
  }
}

.iconmain {
  margin-left: auto;
  transition: transform 0.3s ease;

  @media (max-width: 480px) {
    margin-top: 10px;
    margin-right: 5px;
  }
}

.dropdown {
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 8px;
  z-index: 1;
}

.dropdown .icon {
  display: block;
  cursor: pointer;
  margin-right: 4px;
}

.dropdown .cancel {
  float: right;
  margin-right: 20px;
  margin-top: 8px;
  color: red;
}

.button {
  background-color: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(10px);
  border: none;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.button.selected {
  background-color: rgb(255, 255, 255);
}
